<!DOCTYPE html>
<html>
  <head>
    <title>React DC Voting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>